.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.loginButton {
  padding: 0.5rem 0rem;
  background-color: #8000db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 15rem;
}
